@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CMPD Statistics</h1>
</div>

<div class="row" id="button-group-main">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="demographis-table-button" class="btn btn-secondary">Employee Demographics</button>
        <button type="button" id="shootings-table-button" class="btn btn-secondary">Officer Involved Shootings</button>
        <button type="button" id="traffic-table-button" class="btn btn-secondary">Traffic Stops</button>
        <button type="button" id="toggle-test" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">toggle</button>
    </div>
    <div id="table-container">
        <table id="table-1"></table>
    </div>
</div>